[submodule "bin/rofi-pass-git"]
	path = bin/rofi-pass-git
	url = https://github.com/carnager/rofi-pass.git
[submodule "ext/autorandr"]
	path = ext/autorandr
	url = https://github.com/phillipberndt/autorandr
[submodule "bin/compton-invert-git"]
	path = bin/compton-invert-git
	url = https://github.com/Vifon/compton-invert.git
[submodule "bin/rofimoji"]
	path = bin/rofimoji
	url = https://github.com/fdw/rofimoji.git
